@model llpstudio.Models.MemberShipModel
@using System.Data

@{
    ViewBag.Title = "MemberShipPlanList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    TempData["MemberShipPlan"] = "aaa";
    TempData["MemberShipList"] = "active";
    DataSet ds = (DataSet)ViewBag.MemberShipPlanList;
    DataTable dt = new DataTable();
    if (ds != null && ds.Tables[0].Rows.Count > 0)
    {
        dt = ds.Tables[0];
    }
}

<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">MemberShip Plan List</h3>
                </div>
                <div class="col-auto text-right">
                    @*<a class="btn btn-white filter-btn" href="javascript:void(0);" id="filter_search">
                            <i class="fas fa-filter"></i>
                        </a>*@
                    <a title="Add Dietary" href="@Url.Action("MemberShipPlan","Admin")" class="btn btn-primary add-button ml-3">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    @if (TempData["MemberShipPlanSuccess"] != null && !string.IsNullOrEmpty((string)TempData["MemberShipPlanSuccess"]))
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Success!</strong> @TempData["MemberShipPlanSuccess"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    }

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th hidden>MemberShip Id</th>
                                        <th>MemberShip Name</th>
                                        <th>Amount($)</th>
                                        @*<th>Date</th>*@
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow dr in dt.Rows)
                                    {
                                    <tr>
                                        <td hidden>@dr["MemberShipId"]</td>
                                        <td>
                                            @dr["MemberShipName"]
                                        </td>
                                        <td>
                                            @dr["Amount"]
                                        </td>
                                        <td class="text-right">
                                            <a href="@Url.Action("MemberShipPlan","Admin",new { @id=dr["MemberShipId"]})" class="btn btn-sm bg-success-light mr-2">	<i class="far fa-edit mr-1"></i> Edit</a>
                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


