@using llpstudio.ViewModel;
@model BookingFormVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- page header -->
<div id="page-header" class="ph-full ph-cap-xxlg ph-center ph-image-cropped ph-image-cover-2 ph-content-parallax">
    <div class="page-header-inner tt-wrap">
        <div class="ph-caption">
            <h1 class="ph-caption-title ph-appear">Booking Forms</h1>
            <div class="ph-caption-title-ghost ph-appear">Events</div>
            <div class="ph-caption-subtitle ph-appear">Book your photographers</div>
        </div>
    </div>
    <a href="#page-content" class="scroll-down-circle" data-offset="30">
        <div class="sdc-inner ph-appear">
            <div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
            <svg viewBox="0 0 500 500">
                <defs>
                    <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
                </defs>
                <text dy="30">
                    <textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
                </text>
            </svg>
        </div>
    </a>
    <div class="made-with-love ph-appear">
        <div class="mwl-inner">
            <div class="mwl-text">Made with</div>
            <div class="mwl-icon"><i class="far fa-heart"></i></div>
        </div>
    </div>
</div>
<!-- End page header -->
<div id="page-content">
    <div class="tt-section padding-bottom-xlg-150">
        <div class="tt-section-inner tt-wrap max-width-1400">
            <div class="row booking_form justify-content-center">
                <div class="col-md-12">
                    <form class="tt-form-lg">
                        <div id="shop-wishlist">

                            <div class="d-flex justify-content-end align-items-center mb-2">
                                <div class="tt-heading tt-heading-xsm anim-fadeinup mb-0 mr-2" style="">
                                    <h2 class="tt-heading-title">Sub Total: <span id="TotlPrice">$XYZ</span> </h2>
                                </div>

                                <div class="tt-btn tt-btn-dark">
                                    <a href="#" data-hover="Expand" data-toggle="modal" data-target="#CartModal">Expand <i class="fas fa-expand ml-2"></i></a>
                                </div>
                            </div>

                            <div class="table_con box-inner">
                                <div class="table_con_in ">
                                    <table class="tt-table shop-wishlist-table">
                                        <thead class="shop-wishlist-table-head">
                                            <tr>
                                                <th class="swh-product-title" colspan="">
                                                    Date & Event
                                                </th>
                                                <th class="swh-product-title" colspan="">
                                                    Location & Photographer
                                                </th>
                                                @if (Model.ComponentList != null && Model.ComponentList.Count > 0)
                                                {
                                                    foreach (var i in Model.ComponentList)
                                                    {
                                                        <th class="swh-price">
                                                            @i.DisplayText
                                                        </th>
                                                    }
                                                }
                                                <th class="swh-subtotal">
                                                    Day Total
                                                </th>
                                                <th class="swh-subtotal">
                                                    Action
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody class="shop-wishlist-table-body">
                                            @if (Model.PackageDtl != null && Model.PackageDtl.Count > 0)
                                            {
                                                foreach (var item in Model.PackageDtl)
                                                {
                                                    <tr class="shop-wishlist-table-item customer_records">
                                                        <td class="swti-product-thumb">
                                                            <div class="tt-form-group">
                                                                <input class="tt-form-control" id="our_date" name="our_date" type="text" value="">
                                                                <select class="tt-form-control" id="12323115" name="option">
                                                                    <option value="" disabled="" selected="">Event Type</option>
                                                                    @if (Model.EventList != null && Model.EventList.Count > 0)
                                                                    {
                                                                        foreach (var obj1 in Model.EventList)
                                                                        {
                                                                            <option value="@obj1.ID">@obj1.DisplayText</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td class="swti-product-title">
                                                            <div class="tt-form-group">
                                                                <input class="tt-form-control" id="" type="text" name="name" placeholder="Location"
                                                                       required="">
                                                                <input class="tt-form-control" id="@item.PhotoGrapherTypeID"
                                                                       type="text" name="name" value="@item.PhotoGrapherTypeDesc" disabled>

                                                            </div>
                                                        </td>
                                                        @if (item.Components != null && item.Components.Count > 0)
                                                        {
                                                            foreach (var i in item.Components)
                                                            {
                                                                <td class="swti-price check-t" data-title="Price">
                                                                    <div class="price_t">₹@i.UnitPrice/-</div>
                                                                    <label class="switch">
                                                                        <input data-val="@i.UnitPrice" id="@("SW"+item.EventDay+i.ID)"
                                                                               onclick="ComponentChanged(@item.EventDay)" class="mPrice @("mPrice"+item.EventDay)"
                                                                               type="checkbox" @(i.IsInPackage ? "checked" : "")>
                                                                        <span class="slider round"></span>
                                                                        <span id="@("TxtSW"+item.EventDay+i.ID)" class="absolute-no">@(i.IsInPackage?"Yes":"No")</span>
                                                                    </label>
                                                                </td>
                                                            }
                                                        }
                                                        <td class="swti-price" style="text-align:center">
                                                            <div id="RowPrice_@item.EventDay" class="rowPrice">

                                                            </div>
                                                        </td>
                                                        <td class="swti-price" style="text-align:center">
                                                            <span class="badge bg-secondary">
                                                                <button onclick="RemoveBtnClicked()" id="@("RemoveBtn_"+@item.EventDay)">Remove</button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            <tr class="shop-wishlist-table-buttons">
                                                <td colspan="@(Model.ComponentList!=null?Model.ComponentList.Count+3:3)" class="text-right">
                                                    <div class="tt-btn tt-btn-primary my-0">
                                                        <div id="TableTotal" href="#" class="extra-fields-customer" data-hover="Add">Total :</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- End tt-Table -->
                                </div>
                            </div>


                            <div class="box-outer d-flex justify-content-around py-3">
                                <div class="arrow-left arrow"><i class="fas fa-chevron-left"></i></div>
                                <div class="arrow-right arrow"><i class="fas fa-chevron-right"></i></div>
                            </div>

                            <div class="text-right">
                                <div class="tt-btn tt-btn-link">
                                    <a href="shop-checkout.html" data-hover="Checkout">Proceed to Checkout</a>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-5">
                            <div class="col-md-2">
                                <div class="tt-form-check mt-1">
                                    <input type="checkbox" id="trigger" name="question">
                                    <label for="trigger">Need Album ?</label>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div id="hidden_fields">
                                    <div class="d-flex justify-content-between w-100 need_album">
                                        <div class="tt-form-group w-40">
                                            <label>Album Type<span class="required">*</span></label>
                                            <select class="tt-form-control" id="AlbumDD"
                                                    onchange="CalculateAlbumAmount()"
                                                    name="result">
                                                <option value="0_0" selected> Select Album Type</option>
                                                @if (Model.AlbumList != null && Model.AlbumList.Count > 0)
                                                {
                                                    foreach (var al in Model.AlbumList)
                                                    {
                                                        <option value="@(al.ID+"_"+al.UnitPrice)">@al.DisplayText</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="tt-form-group w-40" style="padding-left:10px">
                                            <label>How many ? <span class="required">*</span></label>
                                            <select class="tt-form-control" id="AlbumQtyDD"
                                                    onchange="CalculateAlbumAmount()">
                                                <option value="0" selected> Select quantity</option>
                                                <option value="1"> 1</option>
                                                <option value="2"> 2</option>
                                                <option value="3"> 3</option>
                                                <option value="4"> 4</option>
                                                <option value="5"> 5</option>
                                                <option value="6"> 6</option>
                                                <option value="7"> 7</option>
                                                <option value="8"> 8</option>
                                                <option value="9"> 9</option>
                                            </select>
                                        </div>
                                        <div class="tt-form-group w-40" style="padding-left:30px">
                                            <label>Amount</label>
                                            <div id="AlbumAmount">
                                            </div>
                                            <div id="AlbumAmount2" class="inVisible">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div> <!-- /.tt-section-inner -->
    </div>
    <!-- End tt-section -->

</div>
<!-- Modal -->
@section myModals{
    <div class="modal fade" id="CartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content t">

                <div class="modal-body">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="shop-cart-totals shop-cart-box custom-bg p-3">
                        <h4 class="shop-cart-box-heading">Quote total:</h4>

                        <!-- Begin table -->
                        <table class="shop-cart-totals-table">
                            <tbody>
                                <tr class="sc-totals-subtotal">
                                    <th>Subtotal:</th>
                                    <td>
                                        <div id="myModalSubTotal"></div>
                                    </td>
                                </tr>
                                <tr class="sc-totals-subtotal">
                                    <th>Album:</th>
                                    <td>
                                        <div id="myModalAlbum">₹0</div>
                                    </td>
                                </tr>
                                <tr class="sc-totals-shipping">
                                    <th>Shipping:</th>
                                    <td>
                                        <span>Free shipping</span>
                                    </td>
                                </tr>
                                <tr class="sc-totals-total">
                                    <th>gst:</th>
                                    <td>
                                        <span>₹0</span>
                                    </td>
                                </tr>
                                <tr class="sc-totals-total">
                                    <th>Total:</th>
                                    <td>
                                        <bdi id="myModalGrandTotal">₹0</bdi>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <!-- End table -->

                        <h4 class="shop-cart-box-heading">Discount Code</h4>

                        <!-- Begin shopping cart discount form (Note: for design purposes only!)
                                                            =======================================
                                                            * Use class "tt-form-filled" or "tt-form-minimal" to change form style.
                                                            * Use class "tt-form-sm" or "tt-form-lg" to change form size (no class = default size).
                                                            -->
                        <form class="cart-discount-form tt-form-minimal">
                            <small class="tt-form-text">Enter your code if you have one.</small>
                            <input type="text" name="coupon-code" class="tt-form-control margin-bottom-20" id="coupon-code" value=""
                                   placeholder="Coupon code" required>
                            <div class="tt-btn tt-btn-light-outline tt-btn-block">
                                <button type="submit" data-hover="Apply Coupon">Apply Coupon</button>
                            </div>
                        </form>
                        <!-- shopping cart discount form -->
                        <div class="tt-btn tt-btn-primary tt-btn-block">
                            <a href="shop-checkout.html" data-hover="Proceed to Checkout">Proceed to Checkout</a>
                        </div>

                    </div>
                    <!-- End shopping cart totals -->
                    <!-- Begin shopping cart discount code -->
                    <div class="shop-cart-discount shop-cart-box bg-black"></div>
                </div>

            </div>
        </div>
    </div>
}
@section styleheader{
    @*<link href="~/UIContent/CSS/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/UIContent/CSS/themes/base/jquery-ui.min.css" rel="stylesheet" />*@
    <link href="~/UIContent/CSS/sweetalert2.min.css" rel="stylesheet" />
    <style>
        .inVisible {
            display:none;
        }
    </style>
}
@section scripts{
    <script src="~/UIContent/JS/jquery-3.6.0.min.js"></script>
    <script src="~/UIContent/JS/jquery-ui-1.13.2.min.js"></script>
    <script src="~/UIContent/JS/sweetalert2.all.min.js"></script>
    <script src="~/UIContent/JS/CustomePage/BookingForm.js"></script>
}
