<!-- Begin tt-Grid item
    ======================== -->
<div class="tt-grid-item">
    <div class="ttgr-item-inner">

        <!-- Begin tt-Product
        ====================== -->
        <div class="tt-product">
            <div class="tt-product-image-holder">
                <a href="@Url.Action("Index","Details")" class="tt-product-image-wrap" data-cursor="View<br>Product">
                    <figure class="tt-product-image">
                        <img class="anim-zoomin tt-lazy" src="/assets/img/custom/frame 2.png" data-src="/assets/img/shop/grid/product-1/product-1-1.jpg" alt="image" />
                    </figure> <!-- /.tt-product-image -->

                    <figure class="tt-product-hover-image">
                        <img class="tt-lazy" src="/assets/img/custom/frame 2.png" data-src="/assets/img/shop/grid/product-1/product-1-2.jpg" alt="image" />
                    </figure> <!-- /.tt-product-hover-image -->
                    <!-- <div class="tt-product-padges">
                        <div class="pr-padge pr-sale-padge" title="Sale">-16%</div>
                        <div class="pr-padge pr-new-padge" title="New product">New</div>
                        <div class="pr-padge pr-hot-padge" title="Featured product">Hot!</div>
                    </div> -->
                    <!-- <div class="tt-product-out-of-stock">Out of Stock</div> -->
                </a> <!-- /.tt-product-image-wrap -->

                <div class="tt-product-additional-buttons">
                    <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
                        <a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
                    </div>

                    <!-- <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-compare-btn" title="Compare"><span><i class="fas fa-retweet"></i></span></a>
                        <a href="" class="tt-pab-btn tt-add-to-compare-btn-active" title="Browse compare list"><span><i class="fas fa-check"></i></span></a>
                    </div> -->
                    <!-- <a href="#" class="tt-pab-btn" title="Quick view"><i class="fas fa-search-plus"></i></a> -->

                </div> <!-- /.tt-product-additional-buttons -->
            </div> <!-- /.tt-product-image-holder -->

            <div class="tt-product-info">
                <!-- <div class="tt-product-categories">
                    <a href="" class="tt-product-category">Mockups</a>
                </div> -->

                <h3 class="tt-product-title"><a href="@Url.Action("Index","Details")" title="Dash - Branding Mockup Templates">Simple Frame</a></h3>

                <!-- <div class="tt-product-rating">
                    <div class="tt-product-rating-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div> -->

                <div class="tt-pi-price-btn-wrap">
                    <div class="tt-product-price">
                        <bdi>₹25.00</bdi>
                        <!-- <ins class="pp-current-price"><bdi>₹21.00</bdi></ins>
                        <del class="pp-old-price"><bdi>₹25.00</bdi></del> -->
                    </div> <!-- /.tt-product-price -->

                    <div class="tt-product-buttons">
                        <a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a>
                        <!-- <a href="shop-single.html" class="tt-product-btn tt-product-sel-opt-btn"><span>Select Options</span></a> -->
                    </div> <!-- /.tt-product-buttons -->
                </div> <!-- /.tt-pi-price-btn-wrap -->
            </div> <!-- /.tt-product-info -->
        </div>
        <!-- End tt-Product -->

    </div> <!-- /.ttgr-item-inner -->
</div>
<!-- End tt-Grid item -->
<!-- Begin tt-Grid item
======================== -->
<div class="tt-grid-item">
    <div class="ttgr-item-inner">

        <!-- Begin tt-Product
        ====================== -->
        <div class="tt-product">
            <div class="tt-product-image-holder">
                <a href="@Url.Action("Index","Details")" class="tt-product-image-wrap" data-cursor="View<br>Product">
                    <figure class="tt-product-image">
                        <img class="anim-zoomin tt-lazy" src="/assets/img/custom/frame 3.jpg" data-src="/assets/img/shop/grid/product-2/product-2-1.jpg" alt="image" />
                    </figure> <!-- /.tt-product-image -->

                    <figure class="tt-product-hover-image">
                        <img class="tt-lazy" src="/assets/img/custom/frame 3.jpg" data-src="/assets/img/shop/grid/product-2/product-2-2.jpg" alt="image" />
                    </figure> <!-- /.tt-product-hover-image -->

                    <div class="tt-product-padges">
                        <div class="pr-padge pr-sale-padge" title="Sale">-16%</div>
                        <!-- <div class="pr-padge pr-new-padge" title="New product">New</div> -->
                        <!-- <div class="pr-padge pr-hot-padge" title="Featured product">Hot!</div> -->
                    </div>

                    <!-- <div class="tt-product-out-of-stock">Out of Stock</div> -->
                </a> <!-- /.tt-product-image-wrap -->

                <div class="tt-product-additional-buttons">
                    <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
                        <a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
                    </div>

                    <!-- <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-compare-btn" title="Compare"><span><i class="fas fa-retweet"></i></span></a>
                        <a href="" class="tt-pab-btn tt-add-to-compare-btn-active" title="Browse compare list"><span><i class="fas fa-check"></i></span></a>
                    </div> -->
                    <!-- <a href="#" class="tt-pab-btn" title="Quick view"><i class="fas fa-search-plus"></i></a> -->

                </div> <!-- /.tt-product-additional-buttons -->
            </div> <!-- /.tt-product-image-holder -->

            <div class="tt-product-info">
                <!-- <div class="tt-product-categories">
                    <a href="" class="tt-product-category">Mockups</a>
                </div> -->

                <h3 class="tt-product-title"><a href="shop-single.html" title="Barbershop - Branding Mockups">Wooden Frame</a></h3>

                <!-- <div class="tt-product-rating">
                    <div class="tt-product-rating-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div> -->

                <div class="tt-pi-price-btn-wrap">
                    <div class="tt-product-price">
                        <!-- <bdi>₹25.00</bdi> -->
                        <ins class="pp-current-price"><bdi>₹21.00</bdi></ins>
                        <del class="pp-old-price"><bdi>₹25.00</bdi></del>
                    </div> <!-- /.tt-product-price -->

                    <div class="tt-product-buttons">
                        <!-- <a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a> -->
                        <a href="@Url.Action("Index","Details")" class="tt-product-btn tt-product-sel-opt-btn"><span>Select Options</span></a>
                    </div> <!-- /.tt-product-buttons -->
                </div> <!-- /.tt-pi-price-btn-wrap -->
            </div> <!-- /.tt-product-info -->
        </div>
        <!-- End tt-Product -->

    </div> <!-- /.ttgr-item-inner -->
</div>
<!-- End tt-Grid item -->
<!-- Begin tt-Grid item
======================== -->
<div class="tt-grid-item">
    <div class="ttgr-item-inner">

        <!-- Begin tt-Product
        ====================== -->
        <div class="tt-product">
            <div class="tt-product-image-holder">
                <a href="@Url.Action("Index","Details")" class="tt-product-image-wrap" data-cursor="View<br>Product">
                    <figure class="tt-product-image">
                        <img class="anim-zoomin tt-lazy" src="/assets/img/custom/frame 2.png" data-src="/assets/img/shop/grid/product-3/product-3-1.jpg" alt="image" />
                    </figure> <!-- /.tt-product-image -->

                    <figure class="tt-product-hover-image">
                        <img class="tt-lazy" src="/assets/img/custom/frame 2.png" data-src="/assets/img/shop/grid/product-3/product-3-2.jpg" alt="image" />
                    </figure> <!-- /.tt-product-hover-image -->
                    <!-- <div class="tt-product-padges">
                        <div class="pr-padge pr-sale-padge" title="Sale">-16%</div>
                        <div class="pr-padge pr-new-padge" title="New product">New</div>
                        <div class="pr-padge pr-hot-padge" title="Featured product">Hot!</div>
                    </div> -->
                    <!-- <div class="tt-product-out-of-stock">Out of Stock</div> -->
                </a> <!-- /.tt-product-image-wrap -->

                <div class="tt-product-additional-buttons">
                    <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
                        <a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
                    </div>

                    <!-- <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-compare-btn" title="Compare"><span><i class="fas fa-retweet"></i></span></a>
                        <a href="" class="tt-pab-btn tt-add-to-compare-btn-active" title="Browse compare list"><span><i class="fas fa-check"></i></span></a>
                    </div> -->
                    <!-- <a href="#" class="tt-pab-btn" title="Quick view"><i class="fas fa-search-plus"></i></a> -->

                </div> <!-- /.tt-product-additional-buttons -->
            </div> <!-- /.tt-product-image-holder -->

            <div class="tt-product-info">
                <!-- <div class="tt-product-categories">
                    <a href="" class="tt-product-category">Mockups</a>
                </div> -->

                <h3 class="tt-product-title"><a href="@Url.Action("Index","Details")" title="Blackstone - Branding Mockup Kit">Colonial Rustic Frame</a></h3>

                <!-- <div class="tt-product-rating">
                    <div class="tt-product-rating-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div> -->

                <div class="tt-pi-price-btn-wrap">
                    <div class="tt-product-price">
                        <bdi>₹25.00</bdi>
                        <!-- <ins class="pp-current-price"><bdi>₹21.00</bdi></ins>
                        <del class="pp-old-price"><bdi>₹25.00</bdi></del> -->
                    </div> <!-- /.tt-product-price -->

                    <div class="tt-product-buttons">
                        <a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a>
                        <!-- <a href="shop-single.html" class="tt-product-btn tt-product-sel-opt-btn"><span>Select Options</span></a> -->
                    </div> <!-- /.tt-product-buttons -->
                </div> <!-- /.tt-pi-price-btn-wrap -->
            </div> <!-- /.tt-product-info -->
        </div>
        <!-- End tt-Product -->

    </div> <!-- /.ttgr-item-inner -->
</div>
<!-- End tt-Grid item -->
<!-- Begin tt-Grid item
======================== -->
<div class="tt-grid-item">
    <div class="ttgr-item-inner">

        <!-- Begin tt-Product
        ====================== -->
        <div class="tt-product">
            <div class="tt-product-image-holder">
                <a href="@Url.Action("Index","Details")" class="tt-product-image-wrap" data-cursor="View<br>Product">
                    <figure class="tt-product-image">
                        <img class="anim-zoomin tt-lazy" src="/assets/img/custom/frame 8.png" data-src="/assets/img/shop/grid/product-4/product-4-1.jpg" alt="image" />
                    </figure> <!-- /.tt-product-image -->

                    <figure class="tt-product-hover-image">
                        <img class="tt-lazy" src="/assets/img/custom/frame 8.png" data-src="/assets/img/shop/grid/product-4/product-4-2.jpg" alt="image" />
                    </figure> <!-- /.tt-product-hover-image -->

                    <div class="tt-product-padges">
                        <div class="pr-padge pr-sale-padge" title="Sale">-16%</div>
                        <!-- <div class="pr-padge pr-new-padge" title="New product">New</div> -->
                        <!-- <div class="pr-padge pr-hot-padge" title="Featured product">Hot!</div> -->
                    </div>

                    <!-- <div class="tt-product-out-of-stock">Out of Stock</div> -->
                </a> <!-- /.tt-product-image-wrap -->

                <div class="tt-product-additional-buttons">
                    <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
                        <a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
                    </div>

                    <!-- <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-compare-btn" title="Compare"><span><i class="fas fa-retweet"></i></span></a>
                        <a href="" class="tt-pab-btn tt-add-to-compare-btn-active" title="Browse compare list"><span><i class="fas fa-check"></i></span></a>
                    </div> -->
                    <!-- <a href="#" class="tt-pab-btn" title="Quick view"><i class="fas fa-search-plus"></i></a> -->

                </div> <!-- /.tt-product-additional-buttons -->
            </div> <!-- /.tt-product-image-holder -->

            <div class="tt-product-info">
                <!-- <div class="tt-product-categories">
                    <a href="" class="tt-product-category">Mockups</a>
                </div> -->

                <h3 class="tt-product-title"><a href="@Url.Action("Index","Details")" title="Farsight - Print Mockup Kit">Wooden Frame</a></h3>

                <!-- <div class="tt-product-rating">
                    <div class="tt-product-rating-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div> -->

                <div class="tt-pi-price-btn-wrap">
                    <div class="tt-product-price">
                        <!-- <bdi>₹25.00</bdi> -->
                        <ins class="pp-current-price"><bdi>₹21.00</bdi></ins>
                        <del class="pp-old-price"><bdi>₹25.00</bdi></del>
                    </div> <!-- /.tt-product-price -->

                    <div class="tt-product-buttons">
                        <!-- <a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a> -->
                        <a href="@Url.Action("Index","Details")" class="tt-product-btn tt-product-sel-opt-btn"><span>Select Options</span></a>
                    </div> <!-- /.tt-product-buttons -->
                </div> <!-- /.tt-pi-price-btn-wrap -->
            </div> <!-- /.tt-product-info -->
        </div>
        <!-- End tt-Product -->

    </div> <!-- /.ttgr-item-inner -->
</div>
<!-- End tt-Grid item -->
<!-- Begin tt-Grid item
======================== -->
<div class="tt-grid-item">
    <div class="ttgr-item-inner">

        <!-- Begin tt-Product
        ====================== -->
        <div class="tt-product">
            <div class="tt-product-image-holder">
                <a href="@Url.Action("Index","Details")" class="tt-product-image-wrap" data-cursor="View<br>Product">
                    <figure class="tt-product-image">
                        <img class="anim-zoomin tt-lazy" src="/assets/img/custom/frame 6.png" data-src="/assets/img/shop/grid/product-5/product-5-1.jpg" alt="image" />
                    </figure> <!-- /.tt-product-image -->

                    <figure class="tt-product-hover-image">
                        <img class="tt-lazy" src="/assets/img/custom/frame 6.png" data-src="/assets/img/shop/grid/product-5/product-5-2.jpg" alt="image" />
                    </figure> <!-- /.tt-product-hover-image -->
                    <!-- <div class="tt-product-padges">
                        <div class="pr-padge pr-sale-padge" title="Sale">-16%</div>
                        <div class="pr-padge pr-new-padge" title="New product">New</div>
                        <div class="pr-padge pr-hot-padge" title="Featured product">Hot!</div>
                    </div> -->
                    <!-- <div class="tt-product-out-of-stock">Out of Stock</div> -->
                </a> <!-- /.tt-product-image-wrap -->

                <div class="tt-product-additional-buttons">
                    <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
                        <a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
                    </div>

                    <!-- <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-compare-btn" title="Compare"><span><i class="fas fa-retweet"></i></span></a>
                        <a href="" class="tt-pab-btn tt-add-to-compare-btn-active" title="Browse compare list"><span><i class="fas fa-check"></i></span></a>
                    </div> -->
                    <!-- <a href="#" class="tt-pab-btn" title="Quick view"><i class="fas fa-search-plus"></i></a> -->

                </div> <!-- /.tt-product-additional-buttons -->
            </div> <!-- /.tt-product-image-holder -->

            <div class="tt-product-info">
                <!-- <div class="tt-product-categories">
                    <a href="" class="tt-product-category">Mockups</a>
                </div> -->

                <h3 class="tt-product-title"><a href="@Url.Action("Index","Details")" title="Nude - Print Mockup Kit">Simple Frame</a></h3>

                <!-- <div class="tt-product-rating">
                    <div class="tt-product-rating-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div> -->

                <div class="tt-pi-price-btn-wrap">
                    <div class="tt-product-price">
                        <bdi>₹25.00</bdi>
                        <!-- <ins class="pp-current-price"><bdi>₹21.00</bdi></ins>
                        <del class="pp-old-price"><bdi>₹25.00</bdi></del> -->
                    </div> <!-- /.tt-product-price -->

                    <div class="tt-product-buttons">
                        <a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a>
                        <!-- <a href="shop-single.html" class="tt-product-btn tt-product-sel-opt-btn"><span>Select Options</span></a> -->
                    </div> <!-- /.tt-product-buttons -->
                </div> <!-- /.tt-pi-price-btn-wrap -->
            </div> <!-- /.tt-product-info -->
        </div>
        <!-- End tt-Product -->

    </div> <!-- /.ttgr-item-inner -->
</div>
<!-- End tt-Grid item -->
<!-- Begin tt-Grid item
======================== -->
<div class="tt-grid-item">
    <div class="ttgr-item-inner">

        <!-- Begin tt-Product
        ====================== -->
        <div class="tt-product">
            <div class="tt-product-image-holder">
                <a href="@Url.Action("Index","Details")" class="tt-product-image-wrap" data-cursor="View<br>Product">
                    <figure class="tt-product-image">
                        <img class="anim-zoomin tt-lazy" src="/assets/img/custom/frame 5.png" data-src="/assets/img/shop/grid/product-6/product-6-1.jpg" alt="image" />
                    </figure> <!-- /.tt-product-image -->

                    <figure class="tt-product-hover-image">
                        <img class="tt-lazy" src="/assets/img/custom/frame 5.png" data-src="/assets/img/shop/grid/product-6/product-6-2.jpg" alt="image" />
                    </figure> <!-- /.tt-product-hover-image -->

                    <div class="tt-product-padges">
                        <div class="pr-padge pr-sale-padge" title="Sale">-16%</div>
                        <!-- <div class="pr-padge pr-new-padge" title="New product">New</div> -->
                        <!-- <div class="pr-padge pr-hot-padge" title="Featured product">Hot!</div> -->
                    </div>

                    <!-- <div class="tt-product-out-of-stock">Out of Stock</div> -->
                </a> <!-- /.tt-product-image-wrap -->

                <div class="tt-product-additional-buttons">
                    <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
                        <a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
                    </div>

                    <!-- <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-compare-btn" title="Compare"><span><i class="fas fa-retweet"></i></span></a>
                        <a href="" class="tt-pab-btn tt-add-to-compare-btn-active" title="Browse compare list"><span><i class="fas fa-check"></i></span></a>
                    </div> -->
                    <!-- <a href="#" class="tt-pab-btn" title="Quick view"><i class="fas fa-search-plus"></i></a> -->

                </div> <!-- /.tt-product-additional-buttons -->
            </div> <!-- /.tt-product-image-holder -->

            <div class="tt-product-info">
                <!-- <div class="tt-product-categories">
                    <a href="" class="tt-product-category">Mockups</a>
                </div> -->

                <h3 class="tt-product-title"><a href="@Url.Action("Index","Details")" title="Android - Smartphone Mockups vol.1">Colonial Rustic Frame</a></h3>

                <!-- <div class="tt-product-rating">
                    <div class="tt-product-rating-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div> -->

                <div class="tt-pi-price-btn-wrap">
                    <div class="tt-product-price">
                        <!-- <bdi>₹25.00</bdi> -->
                        <ins class="pp-current-price"><bdi>₹21.00</bdi></ins>
                        <del class="pp-old-price"><bdi>₹25.00</bdi></del>
                    </div> <!-- /.tt-product-price -->

                    <div class="tt-product-buttons">
                        <a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a>
                        <!-- <a href="shop-single.html" class="tt-product-btn tt-product-sel-opt-btn"><span>Select Options</span></a> -->
                    </div> <!-- /.tt-product-buttons -->
                </div> <!-- /.tt-pi-price-btn-wrap -->
            </div> <!-- /.tt-product-info -->
        </div>
        <!-- End tt-Product -->

    </div> <!-- /.ttgr-item-inner -->
</div>
<!-- End tt-Grid item -->
<!-- Begin tt-Grid item
======================== -->
<div class="tt-grid-item">
    <div class="ttgr-item-inner">

        <!-- Begin tt-Product
        ====================== -->
        <div class="tt-product">
            <div class="tt-product-image-holder">
                <a href="@Url.Action("Index","Details")" class="tt-product-image-wrap" data-cursor="View<br>Product">
                    <figure class="tt-product-image">
                        <img class="anim-zoomin tt-lazy" src="/assets/img/custom/frame 4.png" data-src="/assets/img/shop/grid/product-7/product-7-1.jpg" alt="image" />
                    </figure> <!-- /.tt-product-image -->

                    <figure class="tt-product-hover-image">
                        <img class="tt-lazy" src="/assets/img/custom/frame 4.png" data-src="/assets/img/shop/grid/product-7/product-7-2.jpg" alt="image" />
                    </figure> <!-- /.tt-product-hover-image -->
                    <!-- <div class="tt-product-padges">
                        <div class="pr-padge pr-sale-padge" title="Sale">-16%</div>
                        <div class="pr-padge pr-new-padge" title="New product">New</div>
                        <div class="pr-padge pr-hot-padge" title="Featured product">Hot!</div>
                    </div> -->
                    <!-- <div class="tt-product-out-of-stock">Out of Stock</div> -->
                </a> <!-- /.tt-product-image-wrap -->

                <div class="tt-product-additional-buttons">
                    <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
                        <a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
                    </div>

                    <!-- <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-compare-btn" title="Compare"><span><i class="fas fa-retweet"></i></span></a>
                        <a href="" class="tt-pab-btn tt-add-to-compare-btn-active" title="Browse compare list"><span><i class="fas fa-check"></i></span></a>
                    </div> -->
                    <!-- <a href="#" class="tt-pab-btn" title="Quick view"><i class="fas fa-search-plus"></i></a> -->

                </div> <!-- /.tt-product-additional-buttons -->
            </div> <!-- /.tt-product-image-holder -->

            <div class="tt-product-info">
                <!-- <div class="tt-product-categories">
                    <a href="" class="tt-product-category">Mockups</a>
                </div> -->

                <h3 class="tt-product-title"><a href="@Url.Action("Index","Details")" title="Android - Smartphone Mockups vol.2">Simple Frame</a></h3>

                <!-- <div class="tt-product-rating">
                    <div class="tt-product-rating-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div> -->

                <div class="tt-pi-price-btn-wrap">
                    <div class="tt-product-price">
                        <bdi>₹25.00</bdi>
                        <!-- <ins class="pp-current-price"><bdi>₹21.00</bdi></ins>
                        <del class="pp-old-price"><bdi>₹25.00</bdi></del> -->
                    </div> <!-- /.tt-product-price -->

                    <div class="tt-product-buttons">
                        <a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a>
                        <!-- <a href="shop-single.html" class="tt-product-btn tt-product-sel-opt-btn"><span>Select Options</span></a> -->
                    </div> <!-- /.tt-product-buttons -->
                </div> <!-- /.tt-pi-price-btn-wrap -->
            </div> <!-- /.tt-product-info -->
        </div>
        <!-- End tt-Product -->

    </div> <!-- /.ttgr-item-inner -->
</div>
<!-- End tt-Grid item -->
<!-- Begin tt-Grid item
======================== -->
<div class="tt-grid-item">
    <div class="ttgr-item-inner">

        <!-- Begin tt-Product
        ====================== -->
        <div class="tt-product">
            <div class="tt-product-image-holder">
                <a href="@Url.Action("Index","Details")" class="tt-product-image-wrap" data-cursor="View<br>Product">
                    <figure class="tt-product-image">
                        <img class="anim-zoomin tt-lazy" src="/assets/img/custom/frame 6.png" data-src="/assets/img/shop/grid/product-8/product-8-1.jpg" alt="image" />
                    </figure> <!-- /.tt-product-image -->

                    <figure class="tt-product-hover-image">
                        <img class="tt-lazy" src="/assets/img/custom/frame 6.png" data-src="/assets/img/shop/grid/product-8/product-8-2.jpg" alt="image" />
                    </figure> <!-- /.tt-product-hover-image -->

                    <div class="tt-product-padges">
                        <div class="pr-padge pr-sale-padge" title="Sale">-16%</div>
                        <!-- <div class="pr-padge pr-new-padge" title="New product">New</div> -->
                        <!-- <div class="pr-padge pr-hot-padge" title="Featured product">Hot!</div> -->
                    </div>

                    <!-- <div class="tt-product-out-of-stock">Out of Stock</div> -->
                </a> <!-- /.tt-product-image-wrap -->

                <div class="tt-product-additional-buttons">
                    <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
                        <a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
                    </div>

                    <!-- <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-compare-btn" title="Compare"><span><i class="fas fa-retweet"></i></span></a>
                        <a href="" class="tt-pab-btn tt-add-to-compare-btn-active" title="Browse compare list"><span><i class="fas fa-check"></i></span></a>
                    </div> -->
                    <!-- <a href="#" class="tt-pab-btn" title="Quick view"><i class="fas fa-search-plus"></i></a> -->

                </div> <!-- /.tt-product-additional-buttons -->
            </div> <!-- /.tt-product-image-holder -->

            <div class="tt-product-info">
                <!-- <div class="tt-product-categories">
                    <a href="" class="tt-product-category">Mockups</a>
                </div> -->

                <h3 class="tt-product-title"><a href="@Url.Action("Index","Details")" title="Forma - Branding Mockup Templates">Wooden Frame</a></h3>

                <!-- <div class="tt-product-rating">
                    <div class="tt-product-rating-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div> -->

                <div class="tt-pi-price-btn-wrap">
                    <div class="tt-product-price">
                        <!-- <bdi>₹25.00</bdi> -->
                        <ins class="pp-current-price"><bdi>₹21.00</bdi></ins>
                        <del class="pp-old-price"><bdi>₹25.00</bdi></del>
                    </div> <!-- /.tt-product-price -->

                    <div class="tt-product-buttons">
                        <!-- <a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a> -->
                        <a href="@Url.Action("Index","Details")" class="tt-product-btn tt-product-sel-opt-btn"><span>Select Options</span></a>
                    </div> <!-- /.tt-product-buttons -->
                </div> <!-- /.tt-pi-price-btn-wrap -->
            </div> <!-- /.tt-product-info -->
        </div>
        <!-- End tt-Product -->

    </div> <!-- /.ttgr-item-inner -->
</div>
<!-- End tt-Grid item -->
<!-- Begin tt-Grid item
======================== -->
<div class="tt-grid-item">
    <div class="ttgr-item-inner">

        <!-- Begin tt-Product
        ====================== -->
        <div class="tt-product">
            <div class="tt-product-image-holder">
                <a href="@Url.Action("Index","Details")" class="tt-product-image-wrap" data-cursor="View<br>Product">
                    <figure class="tt-product-image">
                        <img class="anim-zoomin tt-lazy" src="/assets/img/custom/frame 8.png" data-src="/assets/img/shop/grid/product-9/product-9-1.jpg" alt="image" />
                    </figure> <!-- /.tt-product-image -->

                    <figure class="tt-product-hover-image">
                        <img class="tt-lazy" src="/assets/img/custom/frame 8.png" data-src="/assets/img/shop/grid/product-9/product-9-2.jpg" alt="image" />
                    </figure> <!-- /.tt-product-hover-image -->
                    <!-- <div class="tt-product-padges">
                        <div class="pr-padge pr-sale-padge" title="Sale">-16%</div>
                        <div class="pr-padge pr-new-padge" title="New product">New</div>
                        <div class="pr-padge pr-hot-padge" title="Featured product">Hot!</div>
                    </div> -->
                    <!-- <div class="tt-product-out-of-stock">Out of Stock</div> -->
                </a> <!-- /.tt-product-image-wrap -->

                <div class="tt-product-additional-buttons">
                    <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
                        <a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
                    </div>

                    <!-- <div class="tt-pr-addit-btn-wrap">
                        <a href="#" class="tt-pab-btn tt-add-to-compare-btn" title="Compare"><span><i class="fas fa-retweet"></i></span></a>
                        <a href="" class="tt-pab-btn tt-add-to-compare-btn-active" title="Browse compare list"><span><i class="fas fa-check"></i></span></a>
                    </div> -->
                    <!-- <a href="#" class="tt-pab-btn" title="Quick view"><i class="fas fa-search-plus"></i></a> -->

                </div> <!-- /.tt-product-additional-buttons -->
            </div> <!-- /.tt-product-image-holder -->

            <div class="tt-product-info">
                <!-- <div class="tt-product-categories">
                    <a href="" class="tt-product-category">Mockups</a>
                </div> -->

                <h3 class="tt-product-title"><a href="@Url.Action("Index","Details")" title="Idenix - Branding Mockup Templates">Colonial Rustic Frame</a></h3>

                <!-- <div class="tt-product-rating">
                    <div class="tt-product-rating-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div> -->

                <div class="tt-pi-price-btn-wrap">
                    <div class="tt-product-price">
                        <bdi>₹25.00</bdi>
                        <!-- <ins class="pp-current-price"><bdi>₹21.00</bdi></ins>
                        <del class="pp-old-price"><bdi>₹25.00</bdi></del> -->
                    </div> <!-- /.tt-product-price -->

                    <div class="tt-product-buttons">
                        <a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a>
                        <!-- <a href="shop-single.html" class="tt-product-btn tt-product-sel-opt-btn"><span>Select Options</span></a> -->
                    </div> <!-- /.tt-product-buttons -->
                </div> <!-- /.tt-pi-price-btn-wrap -->
            </div> <!-- /.tt-product-info -->
        </div>
        <!-- End tt-Product -->

    </div> <!-- /.ttgr-item-inner -->
</div>
<!-- End tt-Grid item -->
