@model llpstudio.ViewModel.ECommerce.ProductListVM 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="ph-cap-lg ph-center ph-image-cropped ph-image-cover-4 ph-content-parallax">
    <div class="page-header-inner tt-wrap">
        <div class="ph-caption">
            <h1 class="ph-caption-title ph-appear">Shop</h1>
            <div class="ph-caption-title-ghost ph-appear">Shop</div>
            <div class="ph-caption-subtitle ph-appear">Photo Frame</div>
        </div>
        <!-- End page header caption -->

    </div>
    <a href="#page-content" class="scroll-down-circle" data-offset="30">
        <div class="sdc-inner ph-appear">
            <div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
            <svg viewBox="0 0 500 500">
                <defs>
                    <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
                </defs>
                <text dy="30">
                    <textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
                </text>
            </svg>
        </div> <!-- /.sdc-inner -->
    </a>
    <!-- End scroll down circle -->
    <!-- Begin made with love
    ========================== -->
    <div class="made-with-love ph-appear">
        <div class="mwl-inner">
            <div class="mwl-text">Made with</div>
            <div class="mwl-icon"><i class="far fa-heart"></i></div>
        </div>
    </div>
    <!-- End made with love -->

</div>
<!-- End page header -->
<!-- *************************************
*********** Begin page content ***********
                    ************************************** -->
<div id="page-content">

    <!-- =======================
    ///// Begin tt-section /////
    ============================
    * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
    -->
    <div class="tt-section no-padding-top">
        <div class="tt-section-inner tt-wrap max-width-1400">

            <!-- Begin shop grid (works combined with tt-Ggrid!)
            =====================
            * Use class "ttp-fixed-height" or "ttp-fixed-height-portrait" to enable product fixed heigt (images will be cropped!).
            * Use class "ttp-info-inside" to change product info position.
            * Hint: For better user experience, use images with the same dimensions.
            -->
            <div id="shop-grid" class="ttp-fixed-height">

                <!-- Begin tt-Grid
                ===================
                * Use class "ttgr-layout-2", "ttgr-layout-3", "ttgr-layout-4" to set grid layout (columns).
                * Use class "ttgr-gap-1", "ttgr-gap-2", "ttgr-gap-3", "ttgr-gap-4", "ttgr-gap-5" or "ttgr-gap-6" to add space between items.
                -->
                <div class="tt-grid ttgr-layout-3 ttgr-gap-3">

                    <!-- Begin tt-Ggrid top content
    ================================ -->
                    <div class="tt-grid-top">

                        <!-- Begin shop grid header
        ============================ -->
                        <div class="shop-grid-header">
                            <div class="tt-row tt-no-gutters">
                                <div class="tt-col-md-6">
                                    @if (Model.ProductList != null && Model.ProductList.Count > 0)
                                    {
                                    <div class="shop-grid-count">
                                        Showing @Model.ProductList.FirstOrDefault().TotalCount of @Model.ProductList.FirstOrDefault().TotalRecords products
                                    </div>
                                     }
                                        
                                    </div> <!-- /.tt-col -->

                                <!--<div class="tt-col-md-6">-->

                                    <!-- Begin shop grid toolbox
                    ============================= -->
                                    <!--<div class="shop-grid-toolbox">-->

                                        <!-- Begin shop grid per page (Note: for design purposes only!)
                        ==============================
                        * Use class "tt-form-filled" or "tt-form-minimal" to change form style.
                        -->
                                        <!--<form class="shop-grid-ordering tt-form-minimal shg-toolbox-item">
                                            <label class="sgpp-mobile-label">Frame Size:</label>
                                            <div class="tt-form-group">
                                                <select name="orderby" class="tt-form-control" aria-label="Shop order">
                                                    <option selected value="0">Frame Size</option>
                                                    @if (Model.FrameList != null && Model.FrameList.Count > 0)
                                                    {
                                                        foreach (var item in Model.FrameList)
                                                        {
                                                            <option value="@item.ID">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </form>-->
                                        <!-- End shop grid per page -->
                                        <!-- Begin shop grid ordering (Note: for design purposes only!)
                        ==============================
                        * Use class "tt-form-filled" or "tt-form-minimal" to change form style.
                        -->
                                        <!--<form class="shop-grid-ordering tt-form-minimal shg-toolbox-item">
                                            <label class="sgpp-mobile-label">Frame Type:</label>
                                            <div class="tt-form-group">
                                                <select name="orderby" class="tt-form-control" aria-label="Shop order">
                                                    <option value="0" selected>Frame Type</option>
                                                    @if (Model.CategoryList != null && Model.CategoryList.Count > 0)
                                                    {
                                                        foreach (var item in Model.CategoryList)
                                                        {
                                                            <option value="@item.ID">@item.CategoryText</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </form>-->
                                        <!-- End shop grid ordering -->

                                    <!--</div>-->
                                    <!-- End shop grid toolbox -->

                                <!--</div>--> <!-- /.tt-col -->
                            </div> <!-- /.tt-row -->
                        </div>
                        <!-- End tt-Grid top content -->

                    </div>
                    <!-- End shop grid header -->
                    <!-- Begin tt-Grid items wrap
    ============================== -->
                    @{Html.RenderPartial("_ProductList", Model.ProductList);}
                    <!-- End tt-Grid items wrap  -->

                </div>
                <!-- End tt-Grid -->

            </div>
            <!-- End shop grid -->
            
            <!-- Begin sliding sidebar
            ===========================
            * Use class "tt-ss-right" to align sidebar to right.
            -->
            <div class="tt-sliding-sidebar-wrap">
                <div class="tt-sliding-sidebar custom-bg">
                    <div class="tt-sliding-sidebar-inner">

                        <!-- Begin sidebar widget -->
                        <div class="sidebar-widget sidebar-categories">
                            <h3 class="sidebar-heading">Categories</h3>
                            <ul class="list-unstyled">
                                <li><a href="blog-archive.html">Branding <span title="Entries in this category">26</span></a></li>
                                <li><a href="blog-archive.html">Packaging <span title="Entries in this category">12</span></a></li>
                                <li><a href="blog-archive.html">Print <span title="Entries in this category">19</span></a></li>
                                <li><a href="blog-archive.html">Mobile <span title="Entries in this category">31</span></a></li>
                            </ul>
                        </div>
                        <!-- End sidebar widget -->
                        <!-- Begin shop filter form (Note: the shop filter widgets is for design purposes only!)
                        =============================
                        * Use class "tt-form-filled" or "tt-form-minimal" to change form style.
                        -->
                        <form class="shop-filter-form tt-form-minimal">

                            <!-- Begin sidebar shop widget. Add class "hidden" to hide filter widget by default -->
                            <div class="sidebar-widget shop-filter-widget sidebar-price-range">
                                <h3 class="sidebar-heading">Price</h3>
                                <div class="shop-fw-caret hide-cursor"></div>
                                <div class="shop-filter-widget-content">
                                    <div class="shop-fwc-inner tt-custom-scrollbar tt-overflow">
                                        <div class="shop-fw-price-range">
                                            <div class="shop-fw-price-box">
                                                <span class="shop-fw-price-box-currency">₹</span>
                                                <input type="number" class="tt-form-control" name="min-price" min="1" max="150" value="1" placeholder="" title="Enter price as a whole number">
                                            </div>
                                            <span class="shop-fw-price-range-separator">-</span>
                                            <div class="shop-fw-price-box">
                                                <span class="shop-fw-price-box-currency">₹</span>
                                                <input type="number" class="tt-form-control" name="max-price" min="1" max="150" value="150" placeholder="" title="Enter price as a whole number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End sidebar widget -->
                            <!-- Begin sidebar shop widget. Add class "hidden" to hide filter widget by default -->
                            <div class="sidebar-widget shop-filter-widget sidebar-check-list">
                                <h3 class="sidebar-heading">License</h3>
                                <div class="shop-fw-caret hide-cursor"></div>
                                <div class="shop-filter-widget-content">
                                    <div class="shop-fwc-inner tt-custom-scrollbar tt-overflow">
                                        <div class="tt-form-check">
                                            <input type="checkbox" name="regular-license" id="10048763">
                                            <label for="10048763">Regular license <span>(6)</span></label>
                                        </div>
                                        <div class="tt-form-check">
                                            <input type="checkbox" name="extended-license" id="67758399">
                                            <label for="67758399">Extended license <span>(9)</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End sidebar widget -->
                            <!-- Begin sidebar shop widget. Add class "hidden" to hide filter widget by default -->
                            <div class="sidebar-widget shop-filter-widget sidebar-check-list">
                                <h3 class="sidebar-heading">On Sale</h3>
                                <div class="shop-fw-caret hide-cursor"></div>
                                <div class="shop-filter-widget-content">
                                    <div class="shop-fwc-inner tt-custom-scrollbar tt-overflow">
                                        <div class="tt-form-check">
                                            <input type="checkbox" name="on-sale-yes" id="30095224">
                                            <label for="30095224">Yes <span>(4)</span></label>
                                        </div>
                                        <div class="tt-form-check">
                                            <input type="checkbox" name="on-sale-no" id="33984400">
                                            <label for="33984400">No <span>(32)</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End sidebar widget -->
                            <!-- Begin sidebar shop widget. Add class "hidden" to hide filter widget by default -->
                            <!-- <div class="sidebar-widget shop-filter-widget sidebar-radio-list">
                                <h3 class="sidebar-heading">Rating</h3>
                                <div class="shop-fw-caret hide-cursor"></div>
                                <div class="shop-filter-widget-content">
                                    <div class="shop-fwc-inner tt-custom-scrollbar tt-overflow">
                                        <div class="tt-form-radio">
                                            <input type="radio" name="rating" id="77223990" checked>
                                            <label for="77223990">Show all <span>(36)</span></label>
                                        </div>
                                        <div class="tt-form-radio">
                                            <input type="radio" name="rating" id="62239901">
                                            <label for="62239901">5 stars and higher <span>(21)</span></label>
                                        </div>
                                        <div class="tt-form-radio">
                                            <input type="radio" name="rating" id="66758556">
                                            <label for="66758556">4 stars and higher <span>(11)</span></label>
                                        </div>
                                        <div class="tt-form-radio">
                                            <input type="radio" name="rating" id="00022348">
                                            <label for="00022348">3 stars and higher <span>(2)</span></label>
                                        </div>
                                        <div class="tt-form-radio">
                                            <input type="radio" name="rating" id="10649046">
                                            <label for="10649046">2 stars and higher <span>(1)</span></label>
                                        </div>
                                        <div class="tt-form-radio">
                                            <input type="radio" name="rating" id="53396753">
                                            <label for="53396753">1 star and higher <span>(1)</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- End sidebar widget -->
                            <!-- Begin sidebar shop widget. Add class "hidden" to hide filter widget by default -->
                            <div class="sidebar-widget shop-filter-widget sidebar-check-list">
                                <h3 class="sidebar-heading">Tags</h3>
                                <div class="shop-fw-caret hide-cursor"></div>
                                <div class="shop-filter-widget-content">
                                    <div class="shop-fwc-inner tt-custom-scrollbar tt-overflow">
                                        <div class="tt-form-check">
                                            <input type="checkbox" name="tag-1" id="44873990">
                                            <label for="44873990">#mockup <span>(36)</span></label>
                                        </div>
                                        <div class="tt-form-check">
                                            <input type="checkbox" name="tag-2" id="11003092">
                                            <label for="11003092">#artwork <span>(12)</span></label>
                                        </div>
                                        <div class="tt-form-check">
                                            <input type="checkbox" name="tag-3" id="67758493">
                                            <label for="67758493">#design <span>(9)</span></label>
                                        </div>
                                        <div class="tt-form-check">
                                            <input type="checkbox" name="tag-4" id="02759776">
                                            <label for="02759776">#creative <span>(16)</span></label>
                                        </div>
                                        <div class="tt-form-check">
                                            <input type="checkbox" name="tag-5" id="40093345">
                                            <label for="40093345">#branding <span>(4)</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End sidebar widget -->

                            <div class="tt-btn tt-btn-primary tt-btn-block shop-filter-submit-btn">
                                <button type="submit" data-hover="Filter">Filter</button>
                            </div>

                        </form>
                        <!-- End shop filter form -->
                        <!-- Begin sidebar widget -->
                        <!-- <div class="sidebar-widget sidebar-tags">
                            <h3 class="sidebar-heading">Tags</h3>
                            <div class="sidebar-tags-list">
                                <ul>
                                    <li><a href="">#portfolio</a></li>
                                    <li><a href="">#multipurpose</a></li>
                                    <li><a href="">#minimal</a></li>
                                    <li><a href="">#agency</a></li>
                                    <li><a href="">#creatives</a></li>
                                    <li><a href="">#freelancers</a></li>
                                    <li><a href="">#design</a></li>
                                    <li><a href="">#bootstrap</a></li>
                                    <li><a href="">#responsive</a></li>
                                    <li><a href="">#simple</a></li>
                                    <li><a href="">#creative</a></li>
                                    <li><a href="">#blog</a></li>
                                    <li><a href="">#wordpress</a></li>
                                    <li><a href="">#black &amp; white</a></li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- End sidebar widget -->

                    </div> <!-- /.tt-sliding-sidebar-inner -->
                </div> <!-- /.tt-sliding-sidebar -->
                <!-- Begin sliding sidebar trigger -->
                <div class="tt-sliding-sidebar-trigger custom-bg">
                    <span class="tt-ss-icon"><i class="fas fa-align-justify"></i></span>
                    <span class="tt-ss-icon-close"><i class="fas fa-times"></i></span>
                </div>
                <!-- End sliding sidebar trigger -->
                <!-- Close overlay -->
                <div class="tt-sliding-sidebar-close cursor-close"></div>

            </div>
            <!-- End sliding sidebar -->

        </div> <!-- /.tt-section-inner -->
    </div>
    <!-- End tt-section -->


</div>
<!-- End page content -->
